<div class="container">
<h4><p><%= link_to "Upload a Video","#", id: "upload", class: 'btn btn-primary' %> Or <%= link_to "Add Youtube video URL","#", id: "youtube", class: 'btn btn-primary' %> </p></h4>

</div>

<div id="upload_video">
  <%= render "upload_video" %>
</div>

<div id="youtube_url">
  <%= render "youtube_url" %>
</div>

<script >
  $(document).on("click","#upload",function(){
    $("#upload_video").show();
    $("#youtube_url").hide();
  });
  $(document).on("click","#youtube",function(){
    $("#youtube_url").show();
    $("#upload_video").hide();
  });
</script>